.tab-header {
    border: 1px solid black;
    padding: 5px;
}

.header-item {
    width: 130px;
    display: inline-block;
    &.active {
        background-color: grey;
        border: blue;
    }
}

.header-item + .header-item {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid black;
}

.tab-body {
    height: 300px;
    border-bottom: 1px solid black;
}
